# Eclipse specific files
.settings/
.classpath
.project
.factorypath

# Compiled output
/bin/
/target/

# Log files
*.log

# Build directories
/bin/
/build/

# Temporary files
*.tmp
*.bak

# IDE specific files
*.iml
*.ipr
*.iws

# Dependency directories
/lib/
/libs/

# Miscellaneous
*.swp
*.DS_Store

# Ignore .metadata in specific subdirectories
**/EclipseEsercizi/.metadata/
**/EclipseLaboratorio/.metadata/
**/EclipseTeoria/.metadata/
